<div class="form-horizontal">
  <div class="reviewbar">

	<input type="radio" name="rating" class="reviewattr" value="fresh" >Fresh</input><img src="/img/fresh.gif">
	<input type="radio" name="rating" class="reviewattr" value="rotten" checked="checked">Rotten</input><img src="/img/rotten.gif">
  <p id="reviewShow">
  <% if (freshTotal > 0 && (freshVotes/freshTotal * 100).toFixed(2) >49) { %>currently rated: <img src="/img/fresh.gif"> <%= (freshVotes/freshTotal * 100).toFixed(2) %>% (<%= freshTotal %>)
  <% } 
 if (freshTotal > 0 && (freshVotes/freshTotal * 100).toFixed(2) <49) { %>currently rated: <img src="/img/rotten.gif"> <%= (freshVotes/freshTotal * 100).toFixed(2) %>% (<%= freshTotal %>)
  <% } 
  else { %>No Reviews<% }  %>
</p>
  </div>
	<div>
    	<label for="reviewtext" class="control-label">Enter your review</label>
    	<textarea rows="5" cols="180" class="reviewattr" placeholder="Enter your review" name="reviewText"></textarea>
   </div>
   <div>
    	<label for="reviewname" class="control-label">Name</label>
    	<input type="text" class="reviewattr" placeholder="Enter your name" name="reviewName"/>
    	<label for="reviewaffil" class="control-label">Affiliation</label>
    	<input type="text" class="reviewattr" placeholder="Enter your Affiliation" name="reviewAffil"/>
   </div>

   <a href="#movies"><input type="button" id="reviewsave" class="btn btn-primary reviewsave" name="reviewsave" value="Review Movie"/></a>

</div>




